body {
  background: white;
  padding: 20px;
  font-family: Helvetica;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
}

.user-list {
  margin-top: 20px;
  
}

.user-list li {
  margin-bottom: 20px;
  list-style-type: none;
}

h4 {
  font-weight: bold;
}

input {
  padding: 10px 15px;
  margin-top: 10px;
  width: 200px;
}

.filter-button {
  display: block;
  margin-top: 20px;
  padding: 5px;
}

.notification {
  display: inline-block;
}

.details {
  margin: 10px;
}